{% extends 'template-base.html' %}
{% load commons %}
{% load blog %}
{% block title %}{{ post.title }}{% endblock %}
{% block container %}
    <h1 class="h1 border-bottom">{{ post.title }}</h1>
    <p><em>{{ post.publish|datetimef }} by {{ post.author }}</em></p>
    <p><em>Tags: {{ post.tags.all|join:', ' }}</em></p>
    <p>
        {{ post.body|markdown }}
        <a href="{% url 'blog:post_share' post.id %}">Share this post <i class="bi bi-send-fill"></i></a>
    </p>

    {% include 'post/partials/similar_posts.html' with similar_posts=similar_posts %}

    {% include 'post/partials/comment_form.html' with comment_form=comment_form %}

    {% include 'post/partials/comments.html' with comments=comments %}

{% endblock %}
