{% extends 'template-base.html' %}
{% load commons %}
{% load blog %}
{% load static %}
{% block title %}Blog{% endblock %}
{% block container %}
    {% get_most_commented_posts as most_commented_posts %}

    {% if query %}
        {% include 'post/partials/_pots.html' %}
    {% else %}
        {% include 'post/partials/_post_list.html' %}
    {% endif %}
    {% include 'commons/components/pagination.html' with page_obj=posts %}


    <div class="my-5">
        {% show_latest_posts 4 %}
    </div>
    {% include 'post/partials/most_commented_posts.html' %}
    {% include 'post/partials/feeds.html' %}

    <script src="{% static 'blog/js/custom.js' %}"></script>
{% endblock %}
