{% extends 'template-base.html' %}
{% load commons %}
{% load blog %}
{% block title %}Search{% endblock %}
{% block container %}
    {% get_most_commented_posts as most_commented_posts %}

    {% if query %}
        <h1>Posts containing "{{ query }}"</h1>
        <h3>
            {% with posts.count as total_results %}
                Found {{ total_results }} result{{ total_results|pluralize }}
            {% endwith %}
        </h3>
        {% for post in posts %}
            <h3 class="h2">
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </h3>
            <p><em>{{ post.publish|datetimef }} by {{ post.author }}</em></p>
            {{ post.body|markdown|truncatewords_html:5 }}
            {% include 'post/partials/separator.html' %}
        {% endfor %}

        <p>
            <a href="{% url 'blog:post_search' %}">Search again!</a>
        </p>

    {% else %}
        <nav class="navbar bg-body-tertiary col-12">
            <div class="container-fluid col-12">
                <form class="d-flex" role="search" method="get">
                    {{ form.as_p }}
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </nav>
    {% endif %}

{% endblock %}
