<div class="my-5">
    <h4 class="h4">Most commented Posts</h4>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-4 config-container">
        {# :: Configurações da empresa :: #}

        {% for post in most_commented_posts %}
            <div class="col">
                <div class="card">
                    {% include 'post/partials/_post_image.html' %}
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text " style="height: 7rem">
                            {{ post.body|truncatewords:20 }}
                        </p>
                        <a href="{{ post.get_absolute_url }}" class="btn btn-primary">See more...</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>